{% extends "basic.html" %}
{% block head_ext %}
<script type="text/javascript" src="/static/js/csrf.js"></script>
<script>
	var url="/getleaves/"
	var uid="{{ targetuser.uid }}";
	function getuserleaves() {
		$.get(url, {'command':'userleaves', 'number':'5', 'page':'1', 'uid':uid}, function(data) {
			$("#leaves_contain").html(data);
		});
	}
	function getuserleaves_prev() {
		var prev = parseInt($("#currpage").attr("value")) - 1;
		$("#leaves_contain").removeClass("toprev tonext").delay(100).queue(function(next){
			$(this).addClass("toprev");
			next();
		});
		$.get(url, {'command':'userleaves', 'number':'5', 'page':prev, 'uid':uid}, function(data) {
			$("#leaves_contain").html(data);
		});
	}
	function getuserleaves_next() {
		var next = parseInt($("#currpage").attr("value")) + 1;
		$("#leaves_contain").removeClass("tonext toprev").delay(100).queue(function(next){
			$(this).addClass("tonext");
			next();
		});
		$.get(url, {'command':'userleaves', 'number':'5', 'page':next, 'uid':uid}, function(data) {
			$("#leaves_contain").html(data);
		});
	}
	getuserleaves();
</script>
{% endblock %}
{% block body %}
{% if errors %}
<ul class="">
	{% for error in errors %}
	<li>{{ error }}</li>
	{% endfor %}
</ul>
{% else %}
<div class="blocks">
	<div id="leaves_newest" class="box">
		<div class="page_prev" onclick="getuserleaves_prev()">
			<a>&lt;</a>
		</div>
		<div id="leaves_contain" class="leaves_contain">
		</div>
		<div class="page_next" onclick="getuserleaves_next()">
			<a>&gt;</a>
		</div>
	</div>
	<div id="user" class="box">
		<div class="userinfo">
			<ul class="infolist">
				<li class="avatar">
				<a href="/profile/{{ targetuser.uid }}/"><img src="/static/media/avatar/{{ targetuser.uid }}.png.p/"></img></a>
				</li>
				<li class="uid"> 
				uid:{{ targetuser.profile.uid }}
				</li>
				<li class="nickname">
				nickname:<a href="/profile/{{ targetuser.uid }}/">{{ targetuser.profile.nickname }}</a>
				</li>
				<hr />
				<li class=""> 
				leaves:{{ targetuser.article_set.all.count }}
				</li>
				<hr />
				<li class="intro">
				intro:{{ targetuser.profile.intro }}
				</li>
			</ul>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}
