{% extends "basic.html" %}
{% load gravatar %}
{% block head_ext %}
<script type="text/javascript" src="/static/js/csrf.js"></script>
<script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/static/js/md5.js"></script>
<style>
	@-webkit-keyframes scaleOut {
		0% {
			opacity: 1;
			-webkit-transform: scale(1);
		}
		100% {
			opacity: 0;
			-webkit-transform: scale(.5);
		}	
	}

	@-moz-keyframes scaleOut {
		0% {
			opacity: 1;
			-moz-transform: scale(1);
		}
		100% {
			opacity: 0;
			-moz-transform: scale(.5);
		}	
	}

	@-ms-keyframes scaleOut {
		0% {
			opacity: 1;
			-ms-transform: scale(1);
			}100% {
			opacity: 0;
			-ms-transform: scale(.5);
		}	
	}

	@-o-keyframes scaleOut {
		0% {
			opacity: 1;
			-o-transform: scale(1);
		}
		100% {
			opacity: 0;
			-o-transform: scale(.5);
		}	
	}

	@keyframes scaleOut {
		0% {
			opacity: 1;
			transform: scale(1);
		}
		100% {
			opacity: 0;
			transform: scale(.5);
		}	
	}

	.scaleOut {
		-webkit-animation-name: scaleOut;
		-moz-animation-name: scaleOut;
		-ms-animation-name: scaleOut;
		-o-animation-name: scaleOut;
		animation-name: scaleOut;
	}
	@-webkit-keyframes scaleIn {
		0% {
			opacity: 0;
			-webkit-transform: scale(.5);
		}	
		100% {
			opacity: 1;
			-webkit-transform: scale(1);
		}
	}

	@-moz-keyframes scaleIn {
		0% {
			opacity: 0;
			-moz-transform: scale(.5);
		}
		100% {
			opacity: 1;
			-moz-transform: scale(1);
		}
	}

	@-ms-keyframes scaleIn {
		0% {
			opacity: 0;
			-ms-transform: scale(.5);
		}
		100% {
			opacity: 1;
			-ms-transform: scale(1);
		}
	}

	@-o-keyframes scaleIn {
		0% {
			opacity: 0;
			-o-transform: scale(.5);
		}
		100% {
			opacity: 1;
			-o-transform: scale(1);
		}
	}

	@keyframes scaleIn {
		0% {
			opacity: 0;
			transform: scale(.5);
		}
		100% {
			opacity: 1;
			transform: scale(1);
		}
	}

	.scaleIn {
		-webkit-animation-name: scaleIn;
		-moz-animation-name: scaleIn;
		-ms-animation-name: scaleIn;
		-o-animation-name: scaleIn;
		animation-name: scaleIn;
	}
	.userprofile {
		display:			block;
		margin:				auto;
		padding:			0% 1% 0% 1%;
		width:				100%;
		height:				100%;
		position:			relative;
	}
	.profiletab {
		display:			block;
		float:				left;
		margin:				0px;
		padding:			0px;
		width:				19%;
		height:				339px;
		background:			rgba(255,255,255,1.0);
		position:			relative;
		background:			rgb(247, 247, 247);
		-webkit-box-shadow:	0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
		-moz-box-shadow:	0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
		box-shadow:			0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
		-webkit-box-shadow:	5px;
		-moz-border-radius:	5px 0px 0px 0px;
		border-radius:		5px 0px 0px 0px;
	}
	.currtab a {
		color:				rgba(139,139,139,0.7);
	}
	.profiletab ul {
		margin:				0px;
		padding:			10%;
	}
	.profiletab li {
		list-style-type:	none;
	}
	.profiletab a:link {
		text-decoration:	none;
		color:				rgba(0,0,0,1.0);
	}
	.profiletab a:active {
		text-decoration:	blink;
		color:				rgba(0,0,0,1.0);
	}
	.profiletab a:hover {
		text-decoration:	none;
		color:				rgba(0,153,255,1.0);
	}
	/*
	.profiletab a:visited {
		text-decoration:	blink;
		color:				rgba(0,0,0,1.0);
	}
	*/
	.formbox {
		display:			block;
		float:				left;
		margin:				0px;
		padding:			0px;
		width:				79%;
		background:			rgba(255,255,255,1.0);
		position:			relative;
		height:				339px;
		background:			rgb(247, 247, 247);
		-webkit-box-shadow:	0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
		-moz-box-shadow:	0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
		box-shadow:			0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
		-webkit-box-shadow:	5px;
		-moz-border-radius:	0px 5px 0px 0px;
		border-radius:		0px 5px 0px 0px;
	}
	.formbox textarea {
		resize:				none;
	}
	.formbox:after {
		content:			' ';
		display: block;
		width: 100%;
		height: 2px;
		margin-top: 10px;
		background: -moz-linear-gradient(left, rgba(147,184,189,0) 0%, rgba(147,184,189,0.8) 20%, rgba(147,184,189,1) 53%, rgba(147,184,189,0.8) 79%, rgba(147,184,189,0) 100%); 
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(147,184,189,0)), color-stop(20%,rgba(147,184,189,0.8)), color-stop(53%,rgba(147,184,189,1)), color-stop(79%,rgba(147,184,189,0.8)), color-stop(100%,rgba(147,184,189,0))); 
		background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
		background: -o-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
		background: -ms-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
		background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
	}
	#forminfo,
	#formsecurity {
		position:			absolute;
	}
	#forminfo {
		z-index:			22;
	}
	#formsecurity {
		z-index:			21;
		opacity:			0;
	}
	.submit {
		display:			block;
		float:				left;
		margin:				0px;
		padding:			0px;
		width:				98%;
		background:			rgb(247, 247, 247);
		-webkit-box-shadow:	0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
		-moz-box-shadow:	0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
		box-shadow:			0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
		-webkit-box-shadow:	5px;
		-moz-border-radius:	0px 0px 5px 5px;
		border-radius:		0px 0px 5px 5px;
	}
	.submit input[type="submit"] {
		display:			block;
		float:				right;
	}
	#info {
		display:			none;
	}
	#security {
		display:			none;
	}
	#info:target ~ #formbox #forminfo,
	#security:target ~ #formbox #formsecurity {
		z-index:			22;
		-webkit-animation-delay: .6s;
		-webkit-animation-timing-function: ease-in;
		-moz-animation-delay: .6s;
		-moz-animation-timing-function: ease-in;
		-o-animation-delay: .6s;
		-o-animation-timing-function: ease-in;
		-ms-animation-delay: .6s;
		-ms-animation-timing-function: ease-in;
		animation-delay: .6s;
		animation-timing-function: ease-in;
		-webkit-animation-name: scaleIn;
		-moz-animation-name: scaleIn;
		-ms-animation-name: scaleIn;
		-o-animation-name: scaleIn;
		animation-name: scaleIn;
	}
	#info:target ~ #formbox #formsecurity,
	#security:target ~ #formbox #forminfo {
		-webkit-animation-timing-function: ease-out;
		-moz-animation-timing-function: ease-out;
		-o-animation-timing-function: ease-out;
		-ms-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		-webkit-animation-name: scaleOut;
		-moz-animation-name: scaleOut;
		-ms-animation-name: scaleOut;
		-o-animation-name: scaleOut;
		animation-name: scaleOut;
	}
	.animate{
		-webkit-animation-duration: 0.5s;
		-webkit-animation-fill-mode: both;

		-moz-animation-duration: 0.5s;
		-moz-animation-fill-mode: both;

		-o-animation-duration: 0.5s;
		-o-animation-fill-mode: both;

		-ms-animation-duration: 0.5s;
		-ms-animation-fill-mode: both;

		animation-duration: 0.5s;
		animation-fill-mode: both;
	}
	.form {
		height:				95%;
		width:				90%;
		padding:			10px;
		margin:				0px auto 0px auto;
		left:				10px;
		top:				10px;
	}
	.form .intro {
		width:				90%;
	}
	.form .info textarea {
		cols:				20;
		width:				99%;
	}
</style>
<script>
	function currtab(id) {
		$("#tab1").removeClass("currtab").delay(10);
		$("#tab2").removeClass("currtab").delay(10);
		$(id).removeClass("currtab").delay(10).queue(function(next){
			$(this).addClass("currtab");
			next();
		});
	}
	function trans_pwd() {  
		var pwdold = profileform.id_password_old.value;
		var pwdnew = profileform.id_password_new.value;
		var pwdcfm = profileform.id_password_cfm.value;
		if (pwdold != '') {
			document.getElementById("id_password_old").value=hex_md5(hex_md5(profileform.id_password_old.value) + profileform.id_slat.value);
		}
		if (pwdnew != '') {
			document.getElementById("id_password_new").value=hex_md5(profileform.id_password_new.value);  
		}
		if (pwdcfm != '') {
			document.getElementById("id_password_cfm").value=hex_md5(profileform.id_password_cfm.value);  
		}
	}
</script>
{% endblock %}
{% block body %}
<div class="blocks">
	<div id="profile" class="box">
		<form name="profileform" class="userprofile" enctype="multipart/form-data" action="/profile/" method="post">
			{% csrf_token %}
			<ul class="errorlist">
				{% for error in errors %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
			<div class="profiletab">
				<ul>
					<li id="tab1" class="currtab" onclick="currtab('#tab1')"><a class="" href="#info">info</a></li>
					<li id="tab2" class="" onclick="currtab('#tab2')"><a class="" href="#security">security</a></li>
				</ul>
			</div>
			<a id="info"></a>
			<a id="security"></a>
			<div id="formbox" class="formbox">
				<div id="forminfo" class="animate form">
					<!-- <div class="avatar"> -->
						<!-- {{ form.avatar.errors }} -->
						<!-- {{ form.avatar }} -->
					<!-- </div> -->
					<div class="avatar">
						<a href="http://en.gravatar.com/emails">Change avatar on gravatar</a>
					</div>
					<div class="nickname">
						{{ form.nickname.errors }}
						{{ form.nickname }}
					</div>
					<div class="realname">
						{{ form.realname.errors }}
						{{ form.realname }}
					</div>
					<div class="sns">
						{{ form.sns.errors }}
						{{ form.sns }}
					</div>
					<div class="defaultemail">
						{{ form.defaultemail.errors }}
						{{ form.defaultemail }}
					</div>
					<div class="intro">
						{{ form.intro.errors }}
						{{ form.intro }}
					</div>
				</div>
				<div id="formsecurity" class="animate form">
					<input type="hidden" id="id_slat" name="slat" value="{{ slat }}"/>
					<div class="oldpwd">
						{{ form.password_old.errors }}
						{{ form.password_old }}
					</div>
					<div class="newpwd">
						{{ form.password_new.errors }}
						{{ form.password_new }}
					</div>
					<div class="cfmpwd">
						{{ form.password_cfm.errors }}
						{{ form.password_cfm }}
					</div>
					<div class="semail">
						{{ form.semail.errors }}
						{{ form.semail }}
					</div>
				</div>
			</div>
			<div class="submit">
				<input type="submit" value="save" onclick="trans_pwd()" />
			</div>
		</form>
	</div>
	<div id="user" class="box">
		<div class="userinfo">
			<ul>
				<li class="avatar">
				<a class="gravatar" href="http://en.gravatar.com/emails" title="change avatar on gravatat.com"><img src="{% gravatar_url loginuser.email %}" alt=""/></a>
				<!-- <a href="/profile/{{ loginuser.uid }}/"><img src="/getpic/?uid={{ loginuser.uid }}&size=picked"></img></a> -->
				</li>
				<li class="nickname">
				nickname:<a href="/profile/{{ loginuser.uid }}/">{{ loginuser.profile.nickname }}</a>
				</li>
				<li class="email"> 
				email:{{ loginuser.profile.defaultemail }}
				</li>
				<hr />
				<li class=""> 
				leaves:{{ loginuser.article_set.all.count }}
				</li>
				<hr />
				<li class="intro">
				{{ loginuser.profile.intro }}
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
