{% extends "basic.html" %}
<script>
</script>
{% block body %}
	<div class="container-fluid ">
		<div class="span8 transp" style="min-height:1024px;">
			<br />
			<br />
			<div class="article well span8">
				<article>
					<a href="/leaves/{{ article.articleid }}/"><h2>{{ article.title }}</h2></a>
					<h3 id="subtitle">{{ article.subtitle }}</h3>
					<p id="classification">Classification:{{ article.classification }}</p>
					Author:{{ article.author }} | Date:{{ article.postime }}
				</article>
				<article>
				</article>
				<div class="" style="padding:10px 10px 10px;">
					{% autoescape off %}
					{{ article.content }}
					{% endautoescape %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
