{% extends "basic.html" %}
{% block title %}Writting{% endblock %}
{% block head_ext %}
<!-- <link rel="stylesheet" type="text/css" href="/static/css/article/writting.css"> -->
<script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>
{% endblock %}
{% block body %}
		<br />
		<br />
			<form class="span8 well navbar-form" id="id_blogform" action="" method="post">
				{% csrf_token %}
					<div class="nav sidebar row-fluid">
							<div class="fntsz1 span2">
								<div class="pull-left">
									{{ form.title.label_tag }}
								</div>
							</div>
							<div class="span6">
								<div class="pull-left">
									{{ form.title }}
									{{ form.title.errors }}
								</div>
							</div>
					</div>
					<div class="nav sidebar row-fluid">
							<div class="fntsz1 span2">
								<div class="pull-left">
									{{ form.subtitle.label_tag }}
								</div>
							</div>
							<div class="span6">
								<div class="pull-left">
									{{ form.subtitle }}
								</div>
							</div>
					</div>
					<div class="nav sidebar row-fluid">
							<div class="fntsz1 span2">
								<div class="pull-left">
									{{ form.content.label_tag }}
								</div>
							</div>
							<div class="span6">
								<div class="pull-left">
									{% autoescape off %}
									{{ form.content }}
									{% endautoescape %}
								</div>
							</div>
					</div>
					<div class="nav sidebar row-fluid">
							<div class="fntsz1 span2">
								<div class="pull-left">
									{{ form.classid.label_tag }}
								</div>
							</div>
							<div class="span6">
								<div class="pull-left">
									{{ form.classid }}
								</div>
							</div>
					</div>
					<div class="row-fluid">
						<input class="btn pull-right" type="submit" value="post">
					</div>
				<!-- <textarea style="width:800px;height:500px;" class="ckeditor" rows="90" cols="60" name="blogcontent"  ></textarea> -->
			</form>
	</div>
{% endblock %}
