@charset "utf-8";
/*common*/
body{ background:url(../../images/bg.jpg) no-repeat fixed center center #000;}
.info{ width:760px; margin:0 auto; height:40px; color:#FF0; font-family:"微软雅黑"; font-size:22px; letter-spacing:1px;}
.info marquee{ margin-top:20px;}

