{% extends "basic.html" %}
{% block head_ext %}
<style>
	.leaves_panel {
		margin-left:			auto;
		margin-right:			auto;
		margin-bottom:			30px;
		padding:				50px 0px 0px 0px;
		width:					95%;
		height:					100%;
		min-height:				839px;
		background-color:		rgba(39,39,39,0.9);
		box-shadow:				10px 10px 10px rgba(155,155,155,1.0);
		background-clip:		content-box;
	}
	.leaves_panel .leaf {
		margin-top:				20px;
		margin-left:			auto;
		margin-right:			auto;
		margin-bottom:			15px;
		padding:				2%;
		background-color:		rgba(255,255,255,1.0);
		border-radius:			3px;
		box-shadow:				5px 5px 5px rgba(155,155,155,0.6);
		min-width:				600px;
		width:					90%;
		height:					100%;
	}
	.toolbar_menu {
		width:					100%;
	}
	.toolbar_menu a {
		cursor:					default;
	}
	.forms {
		width:					100%;
		height:					100%;
	}
	.article {
		position:				relative;
	}
	.writting {
		position:				relative;
	}
	@keyframes form_leave {
		0%							{opacity:1;display:block;transform:scale(1.0);}
		100%						{opacity:0;display:none;transform:scale(0.0);}
	}
	@-moz-keyframes form_leave {
		0%							{opacity:1;display:block;-moz-transform:scale(1.0);}
		100%						{opacity:0;display:none;-moz-transform:scale(0.0);}
	}
	@-webkit-keyframes form_leave {
		0%							{opacity:1;display:block;-webkit-transform:scale(1.0);}
		100%						{opacity:0;display:none;-webkit-transform:scale(0.0);}
	}
	@-o-keyframes form_leave {
		0%							{opacity:1;display:block;-o-transform:scale(1.0);}
		100%						{opacity:0;display:none;-o-transform:scale(0.0);}
	}
	@-moz-keyframes form_come {
		0%							{opacity:0;display:none;-moz-transform:scale(0.0);}
		100%						{opacity:1;display:block;-moz-transform:scale(1.0);}
	}
	@-webkit-keyframes form_come {
		0%							{opacity:0;display:none;-webkit-transform:scale(0.0);}
		100%						{opacity:1;display:block;-webkit-transform:scale(1.0);}
	}
	@-o-keyframes form_come {
		0%							{opacity:0;display:none;-o-transform:scale(0.0);}
		100%						{opacity:1;display:block;-o-transform:scale(1.0);}
	}
	.leaving {
		animation:					form_leave 1s linear 0s 1 normal;
		-webkit-animation:			form_leave 1s linear 0s 1 normal;
		-moz-animation:				form_leave 1s linear 0s 1 normal;
		-o-animation:				form_leave 1s linear 0s 1 normal;
		display:					none;
	}
	.comming {
		animation:					form_come 1s linear 0s 1 normal;
		-webkit-animation:			form_come 1s linear 0s 1 normal;
		-moz-animation:				form_come 1s linear 0s 1 normal;
		-o-animation:				form_come 1s linear 0s 1 normal;
		display:					block;
	}
</style>
<script type="text/javascript" src="/static/js/csrf.js"></script>
<script>
	function edit_or_show () {
		var command=$("#edit").html();
		if (command == "edit") {
			$("#edit").html("cancel");
			$("#article").removeClass("comming leaving").delay(100).queue(function(next){
				$(this).addClass("leaving");
				next();
			});
			$("#writting").removeClass("coming").delay(100).queue(function(next){
				$(this).addClass("comming");
				next();
			});
		}
		else {
			$("#edit").html("edit");
			$("#writting").removeClass("comming leaving").delay(100).queue(function(next){
				$(this).addClass("leaving");
				next();
			});
			$("#article").removeClass("coming").delay(100).queue(function(next){
				$(this).addClass("comming");
				next();
			});
		}
	}
	function getclassform(name, method) {
		var url = "/getclassform/"
		if (method == "get") {
			$.get(url, {'form_name':name}, function(data) {
				if (name == 'create') {
					$("#classform_create").html(data);
					$("#classform_create").dialog("open");
				}
				if (name == 'moveto') {
					$("#classform_moveto").html(data);
					$("#classform_moveto").dialog("open");
				}
				if (name == 'delete') {
					$("#classform_delete").html(data);
					$("#classform_delete").dialog("open");
				}
			});
		}
		else if (method == "post") {
			var classid = $("#id_classify").val();
			var classname = $("#id_classname").val();
			var articleid = $("#articleid").val();
			var classifies = [];
			var checklist = $("[name=checklist][type=checkbox]:checked")
			checklist.each(function(){classifies.push($(this).val());});
			$.post(url, {'form_name':name, 'classid':classid, 'classname':classname, 'articleid':articleid, 'classifies[]':classifies}, function(data) {
				if (name == "create") {
					$("#classform_create").html(data);
					$("#classform_create").dialog("open");
					refreshPage(location.href);
				}
				if (name == "moveto") {
					$("#classform_moveto").html(data);
					$("#classform_moveto").dialog("open");
					refreshPage(location.href);
				}
				if (name == "delete") {
					$("#classform_delete").html(data);
					$("#classform_delete").dialog("open");
					refreshPage(location.href);
				}
			});
		}
	}
	function gettagsform(name, method) {
		var url = "/gettagsform/";
		var articleid = $("#articleid").val();
		if (method == "get") {
			$.get(url, {'form_name':name, 'articleid':articleid}, function(data) {
				if (name == 'add') {
					$("#tagsform_add").html(data);
					$("#tagsform_add").dialog("open");
				}
				if (name == 'edt') {
					$("#tagsform_edt").html(data);
					$("#tagsform_edt").dialog("open");
				}
			});
		}
		else if (method == "post") {
			var tagid = $("#id_tag").val();
			var tagname = $("#id_tagname").val();
			var articleid = $("#articleid").val();
			var tags = [];
			var checklist = $("[name=checklist][type=checkbox]:checked")
			checklist.each(function(){tags.push($(this).val());});
			$.post(url, {'form_name':name, 'tagsid':tagid, 'tagname':tagname, 'articleid':articleid, 'tags[]':tags}, function(data) {
				if (name == "add") {
					$("#tagsform_add").html(data);
					$("#tagsform_add").dialog("open");
					refreshPage(location.href);
				}
				if (name == "edt") {
					$("#tagsform_edt").html(data);
					$("#tagsform_edt").dialog("open");
					refreshPage(location.href);
				}
			});
		}
	}
	var refreshPage = function(url) {
		var flag = $("#flag").val();
		if (flag == 1) {
			setTimeout("window.location.assign('" + url + "')", 500);
		}
	}
	function handler() {
		$("#class_create").click(function() {getclassform('create', 'get')});
		$("#class_moveto").click(function() {getclassform('moveto', 'get')});
		$("#class_delete").click(function() {getclassform('delete', 'get')});
		$("#tags_add").click(function() {gettagsform('add', 'get')});
		$("#tags_edt").click(function() {gettagsform('edt', 'get')});
		$("#classform_create").dialog({
			autoOpen: false,
			modal:true,
			resizable:false,
			buttons:{
				"create":function() {
					getclassform('create', 'post');
				},
				"cancle":function() {
					$(this).dialog("close");
				}
			},
			close: function() {
				$("#classform_create").empty()
			}
		});
		$("#classform_moveto").dialog({
			autoOpen: false,
			modal:true,
			resizable:false,
			buttons:{
				"moveto":function() {
					getclassform('moveto', 'post');
				},
				"cancle":function() {
					$(this).dialog("close");
				}
			},
			close: function() {
				$("#classform_moveto").empty()
			}
		});
		$("#classform_delete").dialog({
			autoOpen: false,
			modal:true,
			resizable:false,
			buttons:{
				"delete":function() {
					getclassform('delete', 'post');
				},
				"cancle":function() {
					$(this).dialog("close");
				}
			},
			close: function() {
				$("#classform_delete").empty()
			}
		});
		$("#tagsform_add").dialog({
			autoOpen: false,
			modal:true,
			resizable:false,
			buttons:{
				"add":function() {
					gettagsform('add', 'post');
				},
				"cancle":function() {
					$(this).dialog("close");
				}
			},
			close: function() {
				$("#tagsform_add").empty()
			}
		});
		$("#tagsform_edt").dialog({
			autoOpen: false,
			modal:true,
			resizable:false,
			buttons:{
				"edit":function() {
					gettagsform('edt', 'post');
				},
				"cancle":function() {
					$(this).dialog("close");
				}
			},
			close: function() {
				$("#tagsform_edt").empty()
			}
		});
	}
	$(document).ready(handler);
</script>
<link rel="stylesheet" type="text/css" href="/static/css/article/writting.css">
<script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>
{% endblock %}
{% block body %}
<div class="leaves_panel">
	<div class="leaf">
		<div class="content">
			{% if article in loginuser.article_set.all %}
			<div class="toolbar">
				<ul class="toolbar_menu">
					<li class="edit" onclick="edit_or_show()"><a id="edit" name="edit">edit</a></li>
					<li class="classifylist">
					<a id="classify" name="classify">classification</a>
					<ul class="">
						<li id="class_moveto"><a>move to</a></li>
						<li id="class_create"><a>create new</a></li>
						<li id="class_delete"><a>delete</a></li>
					</ul>
					</li>
					<li class="tagslist">
					<a id="tags" name="tags">tags</a>
					<ul class="">
						<li id="tags_add"><a>add new tag</a></li>
						<li id="tags_edt"><a>edit tags</a></li>
					</ul>
					</li>
				</ul>
			</div>
			{% endif %}
			<div class="forms">
				<div id="article" class="article comming">
					<article>
						<a href="/leaves/{{ article.articleid }}/"><h2>{{ article.title|title }}</h2></a>
						<h3 id="subtitle">{{ article.subtitle }}</h3>
						<p>tags:
						{% for tag in article.tags.all %}
						&nbsp;<a href="/leaves/?tagname={{ tag.tagname }}">{{ tag.tagname }}</a>
						{% endfor %}
						</p>
						<p id="classification">Classification:{{ article.classification }} | visit:{{ article.visit }}</p>
						Author:{{ article.author }} | Date:{{ article.postime }} | Lastupdate:{{ article.modifytime }}
					</article>
					<div class="">
						{% autoescape off %}
						{{ article.content }}
						{% endautoescape %}
					</div>
				</div>
				{% if article in loginuser.article_set.all %}
				<div id="writting" class="writting leaving">
					<form class="write_form" id="id_blogform" action="/writting/" method="post">
						{% csrf_token %}
						<div class="title">
							{{ form.title }}
							{{ form.title.errors }}
						</div>
						<div class="subtitle">
							{{ form.subtitle }}
						</div>
						<div class="content">
							{% autoescape off %}
							{{ form.content }}
							{% endautoescape %}
						</div>
						<div class="classid">
							{{ form.classid }}
						</div>
						<div class="submit">
							<input id="articleid" type="hidden" name="articleid" value="{{ article.articleid }}">
							<input id="command" type="hidden" name="command" value="modify">
							<input class="" type="submit" value="post">
						</div>
					</form>
				</div>
				<div id="classform_create">
				</div>
				<div id="classform_moveto">
				</div>
				<div id="classform_delete">
				</div>
				<div id="tagsform_add">
				</div>
				<div id="tagsform_edt">
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
