{% extends "basic.html" %}
{% block head_ext %}
<script type="text/javascript" src="/static/js/csrf.js"></script>
<script>
	var url="/getleaves/"
	function getnewleaves() {
		$.get(url, {'command':'newest', 'number':'5', 'page':'1'}, function(data) {
			$("#leaves_contain").html(data);
		});
	}
	function getnewleaves_prev() {
		var prev = parseInt($("#currpage").attr("value")) - 1;
		$("#leaves_contain").removeClass("toprev tonext").delay(100).queue(function(next){
			$(this).addClass("toprev");
			next();
		});
		$.get(url, {'command':'newest', 'number':'5', 'page':prev}, function(data) {
			$("#leaves_contain").html(data);
		});
	}
	function getnewleaves_next() {
		var next = parseInt($("#currpage").attr("value")) + 1;
		$("#leaves_contain").removeClass("tonext toprev").delay(100).queue(function(next){
			$(this).addClass("tonext");
			next();
		});
		$.get(url, {'command':'newest', 'number':'5', 'page':next}, function(data) {
			$("#leaves_contain").html(data);
		});
	}
	function getElementsByClassName(className,ele,tagName){
		var a = [];
		var eles = null;
		if(ele) {
			if(tagName) {
				eles = ele.getElementsByTagName(tagName)
			}
			else {
				eles = ele.getElementsByTagName('*')
			}
		}
		else {
			eles = document.getElementsByTagName('*');
		}
		for(var i = 0; i < eles.length; i ++){
			if(eles[i].className.search(new RegExp("\\b" + className + "\\b")) != -1){
				a.push(eles.item(i));
			}
		}
		return a
	}
	getnewleaves();
</script>
{% endblock %}
{% block body %}
<div class="blocks">
	<div id="leaves_newest" class="box">
		{% if errors %}
		<ul class="errorlist">
			{% for error in errors %}
			<li>{{ error }}</li>
			{% endfor %}
		</ul>
		{% else %}
		<div class="page_prev" onclick="getnewleaves_prev()">
			<a>&lt;</a>
		</div>
		<div id="leaves_contain" class="leaves_contain">
		</div>
		<div class="page_next" onclick="getnewleaves_next()">
			<a>&gt;</a>
		</div>
		{% endif %}
	</div>
	<div id="user" class="box">
		<div class="userinfo">
			<ul>
				<li class="avatar">
				<a href="/profile/{{ loginuser.uid }}/"><img src="/getpic/?uid={{ loginuser.uid }}&size=picked"></img></a>
				</li>
				<li class="uid"> 
				uid:{{ loginuser.profile.uid }}
				</li>
				<li class="nickname">
				nickname:<a href="/profile/{{ loginuser.uid }}/">{{ targetuser.profile.nickname }}</a>
				</li>
				<hr />
				<li class=""> 
				leaves:{{ loginuser.article_set.all.count }}
				</li>
				<hr />
				<li class="intro">
				intro:{{ loginuser.profile.intro }}
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
